# gitignore file

# folders
crime_sim_toolkit.egg-info
__pycache__
.ipynb_checkpoints
crime_sim_toolkit/output/*
crime_sim_toolkit/data/policedata/*
dist/*
scrapbook/*
build/*

# specific files
scrapbook.ipynb
short_test.py
samplingoutput.txt

# keeps
!data/policedata/.gitkeep
!crime_sim_toolkit/output/.gitkeep

# packaging stuff
venv/*

# testing
.coverage
htmlcov/*
.coveragerc
coverage.xml
request_debug.sh

# vscode
.vscode
