include requirements.txt
include README.md
recursive-include crime_sim_toolkit/tests/testing_data *
recursive-include crime_sim_toolkit/output *
recursive-include crime_sim_toolkit/src *

exclude crime_sim_toolkit/src/prc-pfa-mar2013-onwards-tables201718.csv
